parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$data of class AssoConnect\\LinxoClient\\Dto\\AccountDto constructor expects array\{id\: string, connection_id\: string, name\?\: string, account_number\?\: string, iban\?\: string, status\: string, balance\: array\{amount\: array\{amount\: string, currency\: string\}\}, type\?\: string\}, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/ApiClient.php

		-
			message: '#^Parameter \#1 \$data of class AssoConnect\\LinxoClient\\Dto\\AccountDto constructor expects array\{id\: string, connection_id\: string, name\?\: string, account_number\?\: string, iban\?\: string, status\: string, balance\: array\{amount\: array\{amount\: string, currency\: string\}\}, type\?\: string\}, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/ApiClient.php

		-
			message: '#^Parameter \#1 \$data of class AssoConnect\\LinxoClient\\Dto\\TransactionDto constructor expects array\{id\: string, account_id\: string, amount\: array\{amount\: string, currency\: string\}, enrichments\: array\{display_label\?\: string, date\: string\}, notes\?\: string, type\?\: string\}, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/ApiClient.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Money\\\\Currency'' and Money\\Currency will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/AccountDtoTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Money\\\\Money'' and Money\\Money will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/AccountDtoTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Symfony\\\\Component\\\\Translation\\\\TranslatableMessage'' and Symfony\\Component\\Translation\\TranslatableMessage will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/AccountDtoTest.php

		-
			message: '#^Parameter \#1 \$data of class AssoConnect\\LinxoClient\\Dto\\AccountDto constructor expects array\{id\: string, connection_id\: string, name\?\: string, account_number\?\: string, iban\?\: string, status\: string, balance\: array\{amount\: array\{amount\: string, currency\: string\}\}, type\?\: string\}, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 10
			path: tests/Dto/AccountDtoTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''AssoConnect\\\\PHPDate\\\\AbsoluteDate'' and AssoConnect\\PHPDate\\AbsoluteDate will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/TransactionDtoTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Money\\\\Currency'' and Money\\Currency will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/TransactionDtoTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Money\\\\Money'' and Money\\Money will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/TransactionDtoTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertSame\(\) with ''Europe/Paris'' and ''Europe/Paris'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/TransactionDtoTest.php

		-
			message: '#^Parameter \#1 \$data of class AssoConnect\\LinxoClient\\Dto\\TransactionDto constructor expects array\{id\: string, account_id\: string, amount\: array\{amount\: string, currency\: string\}, enrichments\: array\{display_label\?\: string, date\: string\}, notes\?\: string, type\?\: string\}, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 11
			path: tests/Dto/TransactionDtoTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''DateTimeImmutable'' and DateTimeImmutable will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/Dto/UserDtoTest.php
